@page
@model sportnoDrustvo.Pages.Rekviziti.DetailsModel

<h2>Podrobnosti Rekvizita</h2>

<div>
    <h4>Rekvizit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Ime</dt>
        <dd class="col-sm-10">@Model.Rekvizit.Ime</dd>

        <dt class="col-sm-2">Je na voljo</dt>
        <dd class="col-sm-10">@Model.Rekvizit.JeNaVoljo</dd>

        <dt class="col-sm-2">Izposojen od</dt>
        <dd class="col-sm-10">@Model.Rekvizit.Clan?.Ime @Model.Rekvizit.Clan?.Priimek</dd>

        <dt class="col-sm-2">Datum izposoje</dt>
        <dd class="col-sm-10">@Model.Rekvizit.DatumIzposoje?.ToString("dd.MM.yyyy")</dd>
    </dl>
</div>
<a asp-page="./Edit" asp-route-id="@Model.Rekvizit.Id" class="btn btn-primary">Uredi</a>
<a asp-page="./Index" class="btn btn-secondary">Nazaj na seznam</a>
